/* .Generater{
 margin-top: 20rem;
 justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
} */

.image-max{
    max-width: 100%;
    height: 30vh;
    display: flex;
    margin: 0 auto;
    /* padding-top: 2rem; */
    transition: 1s ease;
}
.card{
  
flex: 1;
padding: 10px;
box-sizing: border-box;
min-height: 50px;
overflow: hidden;

}
.card h4 {
    margin-top: 0;
}
.card h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-container{
    display: flex;
}
.image-max:hover{

    transform: scale(0.9);
    transition: 1a ease;
    -webkit-transform: scale(0.9);
}
body{
    background-color: aqua;
}